<mat-card>
  <mat-card-content>
    <table class="userTable">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
      </tr>
      <tr *ngFor="let user of userListFire,index as i" [routerLink]="['/user/'+user.userId]">
        <td>{{userListFire[i].firstName}} {{userListFire[i].lastName}}</td>
        <td>{{userListFire[i].email}}</td>
        <td>{{userListFire[i].city}}</td>
      </tr>
    </table>

  </mat-card-content>
</mat-card>
<button (click)="openDialog()" matTooltipPosition="above" matTooltip="Add User" class="addUserButton" mat-fab
  color="primary" aria-label="Example icon button with a delete icon">
  <mat-icon>add</mat-icon>
</button>